@font-face {
    font-family: "Source Sans 3", sans-serif;
    src: url("fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --bs-body-font-family: "Source Sans 3", sans-serif;
}

body {
    font-family: var(--bs-body-font-family) !important;
}


/************ Aleksandar's styles ************5/

/* should be set like this*/
/*:root {*/
/*    --bs-font-sans-serif: 'Brush Script MT', cursive, sans-serif;*/
/*}*/


